.center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.game-item {
  width: 20%;
  padding-top: 1.2rem;
  height: 16rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.game-item img {
  width: 9.6rem;
  height: 9.6rem;
}
.game-item span {
  font-size: 22px;
  color: #222;
  height: 52px;
  line-height: 52px;
  overflow: hidden;
  width: 100%;
}
