#jia{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 8.8rem;
}
.top{
    background-image: url(https://pic.7881.com/7881-app/images/index/750_88/search-bg.png);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 8.8rem;
    padding: 0 3.2rem 0 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: 100% 100%;
    box-sizing: border-box;
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 6.4rem;

    }
    span{
    font-size: 2.8rem;
    color: #fff;
    margin-left: 1.6rem;
    line-height: 3.2rem;
 
    }
    .right{
        width: 30.2rem;
        height: 6.4rem;
        font-size: 3rem;
        text-align: center;
        line-height: 6.4rem;
        color: #fff;
        background: rgba(244,248,251,.2);
        border-radius: 4.4rem;
    }
}
.banner{
    padding-top:2rem ;
    height: 22.8rem;
    background-image: url(https://pic.7881.com/7881-app/images/index/750_88/search-bg.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    dl{
        width: 25%;
        text-align: center;
    }
dt{
   img{
       width: 12.8rem;
       height: 12.8rem;
       display: inline-block;
   }
    }
    dd{
    font-size: 2.4rem;
    color: #fff;
    font-weight: 700;
    height: 7.2rem;
    line-height: 7.2rem;
    text-shadow: 0 0.1rem 0.1rem rgb(114 46 0 / 24%);
    }
}