<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */
/*html,body { user-select: none; -moz-user-select: none; -webkit-user-select: none; }*/
body,
ul,
ol,
dl,
dd,
=======
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
>>>>>>> aj
h1,
h2,
h3,
h4,
h5,
h6,
p,
<<<<<<< HEAD
input,
select,
textarea,
form {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
    font-weight: 400;
}
html {
  height: 100%;
  background: #ededed;
  width: 100%;
}
body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
  color: rgb(102, 102, 102);
  font-size: 14px;
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
img {
  border: none;
  display: block;
}
input,
select,
textarea,
button {
  font-family: tahoma, arial, 'Hiragino Sans GB', '微软雅黑', sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
}
em,
i,
dfn {
  font-style: normal;
}
textarea {
  resize: none;
  overflow: auto;
  outline: none;
}
a {
  text-decoration: none;
  color: #666;
  outline: none;
  cursor: pointer;
}
a:hover {
  outline: none;
}
button {
  cursor: pointer;
}
button:focus {
  border: none;
  outline: none;
}
pre {
  white-space: pre-wrap!important;
  word-wrap: break-word!important;
  *white-space:normal!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
.store-content{
	width: 1220px;
	min-height: 600px;
	padding: 0 0 25px;
	margin: 0 auto;
	position: relative;
}
.hide{
	display: none!important;
}
.fn-left, .fn-right{
	display: inline;
}
.fn-left{
	float: left;
}
.fn-right{
	float: right;
=======
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
>>>>>>> aj
}